<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Service Console</title>

  {% include "common_header.html" %}

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <div class="section values">
    <div class="container">
      <div class="row">
          <h2 class="value-multiplier">Pick a machine to reboot/restart the browser.</h2>
	  <p>Here you can see the results of your actions performed on the service</p>
         
      </div>
      <div class="row">
        <div class="twelve column value">
          <h2 class="value-multiplier">{{ service["name"] }}</h2>
        </div>
      </div> <!-- row -->
      <div class="row">
        <div class="one-third column value">
          <a href="/desktop" class="button" ><h5 class="value-heading">Back to desktop</h5> </a>
        </div>
        <div class="one-third column value">
          <a href="/fire?m={{m}}" class="button" ><h5 class="value-heading">A nother Button</h5> </a>
        </div>
      </div> <!-- row -->
      <div class="row">
        <div class="twelve column value">
          <h2 class="value-multiplier">something bigger {{m}}</h2>
          <div id="output-window" >
              {% if service["action"]["result"] %}
                  {{ service["action"]["result"] }}
              {% else %}
                  <p>output normally goes here. If you can read this, someting bad hapened.</p>
                  <h1>:(</h1>
              {% endif %}
          </div>
        </div>
      </div> <!-- row -->
 
    </div> <!-- container -->
  </div> <!-- section -->




<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>

