<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>My Dockerplace</title>

  {% include "common_header.html" %}

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <div class="section values">
    <div class="container">
      <div class="row">
          <h1 class="value-multiplier">Existant services</h1>
          <p>This is a list of available containers</p>


      </div>
      <div class="row">
{% for service in data.services %}
        <div class="one-half column value">
          <h2 class="value-multiplier">{{ service["name"] }}</h2>
           <div class="service-icon one-half column">
             <img class="service-icon" src="{{ service["image"] }}" />
           </div> <!-- service-icon div nuevo -->
           <div class="actions_list one-half column">
             {% include "blocks/desktop_actions.html" %}
           </div> <!-- actions list -->
        </div>
{%endfor%}
      </div> <!-- row -->
 
    </div> <!-- container -->
  </div> <!-- section -->


           {% include "blocks/debug.html" %}


<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>

