<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Change Me</title>

  {%include "common_header.html" %}

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <div class="section values">
    <div class="container">
      <div class="row">
          <h2 class="value-multiplier">Pick a machine to reboot/restart the browser.</h2>
	  <p> If the Kiosk application seems hung, try restarting just firefox first.</p>
	  <p> Only if you find further issues you should use the reboot option, that will restart the whole machine.</p>
         
      </div>
      <div class="row">
{%for m in [1,2,3] %}
        <div class="one-third column value">
          <h2 class="value-multiplier">Kiosk {{m}}</h2>
          <a href="/down?m={{m}}" class="button" ><h5 class="value-heading">Reboot</h5> </a>
          <a href="/fire?m={{m}}" class="button" ><h5 class="value-heading">Restart Firefox</h5> </a>
        </div>
{%endfor%}
      </div> <!-- row -->
      <div class="row">
{%for m in [4,5,6] %}
        <div class="one-third column value">
          <h2 class="value-multiplier">Kiosk {{m}}</h2>
          <a href="/down?m={{m}}" class="button" ><h5 class="value-heading">Reboot</h5> </a>
          <a href="/fire?m={{m}}" class="button" ><h5 class="value-heading">Restart Firefox</h5> </a>
        </div>
{%endfor%}
      </div> <!-- row -->
      <div class="row">
{%for m in [7,8,9] %}
        <div class="one-third column value">
          <h2 class="value-multiplier">Kiosk {{m}}</h2>
          <a href="/down?m={{m}}" class="button" ><h5 class="value-heading">Reboot</h5> </a>
          <a href="/fire?m={{m}}" class="button" ><h5 class="value-heading">Restart Firefox</h5> </a>
        </div>
{%endfor%}
      </div> <!-- row -->
      <div class="row">
{%for m in [11,12] %}
        <div class="one-third column value">
          <h2 class="value-multiplier">Kiosk {{m}}</h2>
          <a href="/down?m={{m}}" class="button" ><h5 class="value-heading">Reboot</h5> </a>
          <a href="/fire?m={{m}}" class="button" ><h5 class="value-heading">Restart Firefox</h5> </a>
        </div>
{%endfor%}
      </div> <!-- row -->
 
    </div> <!-- container -->
  </div> <!-- section -->




<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
