[Desktop Entry]
Encoding=UTF-8
Name=My DockerPlace
Exec={{app_home}}/run.sh
Icon={{app_home}}/files/my_dockerplace.png
Type=Application
Categories=Development;

